In [1]:
import pandas as pd
from sqlalchemy import create_engine
import mysqlx
import mysql.connector
import sqlalchemy
import csv
import seaborn as sns
import matplotlib.pyplot as plt
import os
import numpy as np
from mpl_toolkits.mplot3d import Axes3D
import warnings
warnings.filterwarnings("ignore")
import json

In [2]:
ef2019 = pd.read_csv("Data/economic_freedom_index2019_data.csv", encoding="ISO-8859-1")
ef2019.head()

,CountryID,CountryName,Region,WorldRank,RegionRank,2019Score,PropertyRights,JudicalEffectiveness,GovernmentIntegrity,TaxBurden,...,GovtExpenditureofGDP,PopulationMillions,GDPBillionsPPP,GDPGrowthRate,5YearGDPGrowthRate,GDPperCapita(PPP),Unemployment,Inflation,FDIInflowMillions,PublicDebtofGDP
0,29,Canada,Americas,8.0,1.0,77.7,87.0,69.4,84.6,76.8,...,40.3,36.7,"$1,769.30",3.0,2.1,"$48,265",6.3,1.6,"24,243.80",89.7
1,175,United States,Americas,12.0,2.0,76.8,79.3,78.6,77.4,75.1,...,37.8,325.9,"$19,390.60",2.3,2.2,"$59,501",4.4,2.1,"275,381.00",107.8
2,33,Chile,Americas,18.0,3.0,75.4,68.7,56.3,62.3,77.3,...,25.2,18.4,$451.10,1.5,2.2,"$24,537",7,2.2,"6,729.60",23.6
3,138,Saint Lucia,Americas,38.0,4.0,68.7,65.9,63.8,50.3,76.2,...,26.3,0.2,$2.50,3.0,1.9,"$14,450",21,0.1,92.4,71.3
4,81,Jamaica,Americas,39.0,5.0,68.6,60.7,49.2,45.0,80.2,...,28.3,2.8,$26.10,1.0,0.8,"$9,163",12.5,4.4,888,104.1

In [3]:
#Region	WorldRank	RegionRank	2019Score	PropertyRights	JudicalEffectiveness	GovernmentIntegrity	TaxBurden
join_ef2019= ef2019[['CountryName','Region', 'WorldRank', 'RegionRank', '2019Score','PropertyRights','JudicalEffectiveness', 'GovernmentIntegrity', 'Unemployment','Inflation', 'TaxBurden']]

join_ef2019.head()

,CountryName,Region,WorldRank,RegionRank,2019Score,PropertyRights,JudicalEffectiveness,GovernmentIntegrity,Unemployment,Inflation,TaxBurden
0,Canada,Americas,8.0,1.0,77.7,87.0,69.4,84.6,6.3,1.6,76.8
1,United States,Americas,12.0,2.0,76.8,79.3,78.6,77.4,4.4,2.1,75.1
2,Chile,Americas,18.0,3.0,75.4,68.7,56.3,62.3,7,2.2,77.3
3,Saint Lucia,Americas,38.0,4.0,68.7,65.9,63.8,50.3,21,0.1,76.2
4,Jamaica,Americas,39.0,5.0,68.6,60.7,49.2,45.0,12.5,4.4,80.2

In [6]:
dbname = 'worldwide'
rds_connection_string = "root:$pwd@127.0.0.1:3306"
engine = create_engine(f'mysql+mysqlconnector://{rds_connection_string}/{dbname}')
engine.execute(f'USE {dbname}') # select new db
print(engine)

Engine(mysql+mysqlconnector://root:***@127.0.0.1:3306/worldwide)

In [7]:
ef2019.to_sql(name='ef2019', con=engine, if_exists='replace', index=False)

In [8]:
json_file = 'Data/AIDS.json'

with open(json_file) as datafile:
    data = json.load(datafile)

In [9]:
json_file_df = pd.DataFrame(data['data'])
json_file_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,1,89E8154D-8124-40C0-9EF3-CF335E52AEA6,1,1245318279,296892,1245318312,296892,None,Afghanistan,0.3,<10.0,<100.0
1,2,B3A4ABF5-1931-4E3D-B1C4-60F3F9A64DA5,2,1245318279,296892,1245318312,296892,None,Albania,0.0,None,None
2,3,18744DA8-A647-46B6-AC51-417B151F3796,3,1245318279,296892,1245318312,296892,None,Algeria,0.0,<10.0,82
3,4,A15D65D4-530C-449C-9924-6790DA6D9A74,5,1245318279,296892,1245318312,296892,None,Angola,2.2,188,3281
4,5,54EAA2FD-313F-4A3A-B261-8120BDAD8E35,6,1245318279,296892,1245318312,296892,None,Antigua and Barbuda,1.0,None,None

In [10]:
new_json_file_df = json_file_df[[8,9,10,11]].copy()
new_json_file_df.head()

                    8    9      10      11
0          Afghanistan  0.3  <10.0  <100.0
1              Albania  0.0   None    None
2              Algeria  0.0  <10.0      82
3               Angola  2.2    188    3281
4  Antigua and Barbuda  1.0   None    None

In [11]:
new_json_file_df.to_sql(name='dstats', con=engine, if_exists='replace', index=False)

In [12]:
sorted_ef2019 = ef2019.sort_values('CountryName')
sorted_ef2019.head(20)

,CountryID,CountryName,Region,WorldRank,RegionRank,2019Score,PropertyRights,JudicalEffectiveness,GovernmentIntegrity,TaxBurden,...,GovtExpenditureofGDP,PopulationMillions,GDPBillionsPPP,GDPGrowthRate,5YearGDPGrowthRate,GDPperCapita(PPP),Unemployment,Inflation,FDIInflowMillions,PublicDebtofGDP
70,1,Afghanistan,Asia-Pacific,152.0,39.0,51.5,19.6,29.6,25.2,91.7,...,25.6,35.5,$69.60,2.5,2.9,"$1,958",8.8,5.0,53.9,7.3
102,2,Albania,Europe,52.0,27.0,66.5,54.8,30.6,40.4,86.3,...,29.5,2.9,$36.00,3.9,2.5,"$12,507",13.9,2.0,"1,119.10",71.2
137,3,Algeria,Middle East and North Africa,171.0,14.0,46.2,31.6,36.2,28.9,76.4,...,41.4,41.5,$632.90,2.0,3.1,"$15,237",10,5.6,"1,203.00",25.8
171,4,Angola,Sub-Saharan Africa,156.0,33.0,50.6,35.9,26.6,20.5,83.9,...,25.3,28.2,$190.30,0.7,2.9,"$6,753",8.2,31.7,"-2,254.50",65.3
25,5,Argentina,Americas,148.0,26.0,52.2,47.8,44.5,33.5,69.3,...,41.0,44.1,$920.20,2.9,0.7,"$20,876",8.7,25.7,"11,857.00",52.6
99,6,Armenia,Europe,47.0,24.0,67.7,57.2,46.3,38.6,84.7,...,26.4,3,$28.30,7.5,3.6,"$9,456",18.2,0.9,245.7,53.5
35,7,Australia,Asia-Pacific,5.0,4.0,80.9,79.1,86.5,79.9,62.8,...,36.5,24.8,"$1,246.50",2.3,2.4,"$50,334",5.6,2.0,"46,368.00",41.6
91,8,Austria,Europe,31.0,16.0,72.0,84.2,71.3,77.4,50.5,...,50.2,8.8,$439.60,2.9,1.3,"$49,869",5.5,2.2,"9,629.60",78.8
43,9,Azerbaijan,Asia-Pacific,60.0,13.0,65.4,59.1,53.1,44.7,87.5,...,36.7,9.8,$171.80,0.1,1.2,"$17,492",5,13.0,"2,867.00",54.7
14,10,Bahamas,Americas,76.0,15.0,62.9,42.2,46.9,43.7,97.3,...,21.0,0.4,$11.60,1.3,-0.7,"$31,139",12.6,1.4,927.7,57.2
128,11,Bahrain,Middle East and North Africa,54.0,5.0,66.4,63.5,50.7,53.6,99.7,...,35.3,1.5,$70.40,3.2,3.8,"$48,505",1.2,1.4,518.9,90.3
58,12,Bangladesh,Asia-Pacific,121.0,27.0,55.6,36.1,34.5,24.4,72.7,...,13.6,163.2,$687.10,7.1,6.7,"$4,211",4.4,5.7,"2,151.60",32.4
11,13,Barbados,Americas,67.0,13.0,64.7,52.9,59.9,53.8,70.1,...,34.1,0.3,$5.20,0.9,0.6,"$18,664",9.7,4.4,286.2,132.9
117,14,Belarus,Europe,104.0,42.0,57.9,55.2,51.7,37.7,89.4,...,44.2,9.5,$178.90,2.4,-0.3,"$18,931",0.5,6.0,"1,276.40",51.0
100,15,Belgium,Europe,48.0,25.0,67.3,81.3,61.6,72.5,47.1,...,53.2,11.4,$528.50,1.7,1.2,"$46,553",7.4,2.2,740.4,103.2
23,16,Belize,Americas,123.0,24.0,55.4,41.7,46.9,27.2,79.9,...,33.7,0.4,$3.20,0.8,1.8,"$8,324",9.3,1.1,77,99.0
159,17,Benin,Sub-Saharan Africa,127.0,21.0,55.3,37.2,32.8,28.1,69.3,...,23.5,11.1,$25.30,5.6,5.0,"$2,277",2.5,0.1,184.4,54.6
47,18,Bhutan,Asia-Pacific,74.0,16.0,62.9,62.5,55.4,54.5,83.0,...,30.7,0.8,$7.00,6.0,5.2,"$8,744",2.4,3.4,10.3,102.4
29,19,Bolivia,Americas,173.0,30.0,42.3,20.5,12.3,19.7,82.4,...,41.1,11.1,$83.60,4.2,5.1,"$7,547",3.1,2.8,724.7,50.9
112,20,Bosnia and Herzegovina,Europe,83.0,37.0,61.9,40.2,37.9,30.2,84.3,...,42.4,3.5,$44.60,2.7,2.5,"$12,724",25.6,1.3,425.2,41.0

In [13]:
new_json_file_df = new_json_file_df.rename(columns={8: 'CountryName', 9: 'Deaths_<5YrsAge', 10: 'Deaths_per100k', 11: 'Prevelance_>15YrsAge'})
new_json_file_df.head(20)

            CountryName Deaths_<5YrsAge Deaths_per100k Prevelance_>15YrsAge
0           Afghanistan             0.3          <10.0               <100.0
1               Albania             0.0           None                 None
2               Algeria             0.0          <10.0                   82
3                Angola             2.2            188                 3281
4   Antigua and Barbuda             1.0           None                 None
5             Argentina             0.2             11                  456
6               Armenia             0.2          <50.0                  121
7             Australia             0.0          <10.0                   99
8               Austria             0.0          <10.0                  173
9            Azerbaijan             0.0          <10.0                   87
10              Bahamas             5.3         <200.0                 2807
11              Bahrain             0.2           None                 None
12           Bangladesh             0.0          <10.0               <100.0
13             Barbados             1.7         <200.0                 1236
14              Belarus             3.2           None                  242
15              Belgium             0.5          <10.0                  162
16               Belize             1.0         <200.0                 2110
17                Benin             2.2            114                 1635
18               Bhutan             0.7          <10.0               <100.0
19              Bolivia             0.1          <10.0                  120

In [15]:
merged_df = join_ef2019.merge(new_json_file_df, on='CountryName', how='outer')
merged_df.head(10)

,CountryName,Region,WorldRank,RegionRank,2019Score,PropertyRights,JudicalEffectiveness,GovernmentIntegrity,Unemployment,Inflation,TaxBurden,Deaths_<5YrsAge,Deaths_per100k,Prevelance_>15YrsAge
0,Canada,Americas,8.0,1.0,77.7,87.0,69.4,84.6,6.3,1.6,76.8,0.0,<10.0,222.00
1,United States,Americas,12.0,2.0,76.8,79.3,78.6,77.4,4.4,2.1,75.1,NaN,NaN,NaN
2,Chile,Americas,18.0,3.0,75.4,68.7,56.3,62.3,7,2.2,77.3,0.1,<10.0,229
3,Saint Lucia,Americas,38.0,4.0,68.7,65.9,63.8,50.3,21,0.1,76.2,1.3,None,None
4,Jamaica,Americas,39.0,5.0,68.6,60.7,49.2,45.0,12.5,4.4,80.2,6.1,49,1371
5,Uruguay,Americas,40.0,6.0,68.6,68.3,58.9,69.2,7.9,6.2,77.2,0.2,<50.0,362
6,Peru,Americas,45.0,7.0,67.8,56.1,34.0,31.8,3.6,2.8,80.6,0.9,20,480
7,Colombia,Americas,49.0,8.0,67.3,59.2,34.3,33.5,8.9,4.3,74.3,1.4,18,509
8,Panama,Americas,50.0,9.0,67.2,60.4,30.1,34.1,4.5,0.9,85.0,2.4,<50.0,755
9,Saint Vincent and the Grenadines,Americas,55.0,10.0,65.8,36.5,63.8,50.5,18.3,2.0,71.2,2.9,None,None

In [16]:
merged_df.to_sql(name='merged', con=engine, if_exists='replace', index=False)